<footer class="text-muted">
    <div class="container text-center">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Bryan LEGRAS</p>
        <p>TODOLIST</p>
    </div>
</footer>