<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>

    <header>
        {% include '_partials/_nav.html.twig' %}
    </header>
    
    <body>

        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>

    <footer> {% include '_partials/_footer.html.twig' %}</footer>
</html>
